.myboton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 13px;
    border: 0px;
    font-weight: bold;
    color: transparent;
    text-shadow: 0px 0px 1px #191A2C;
    cursor: pointer;
}

.myboton:hover,
.myboton:active {
    color: #1DA1F2;
    transition: color 0.7s ease-in-out;
}

.container  {
    height: 30px;
}

.Button {
    height: 30px;
}

.Button:active {
    transform: translateY(2px);
}