.ResolveTicket{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #5673A9;
  border-radius: 40px;
  height: 50vh;
  margin: 6px;
  padding: 2px;
  background-image: linear-gradient(to bottom,#191A2C,#191a2ce8);
  color: #fff;
}


.div-ResolveTicket{
  width: 20vw;
}

.form-ResolveTicket{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-label-ResolveTicket {
  margin-bottom: 5px;
}

.input-field-ResolveTicket {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 90%;
  background-color: #ffffff;
  text-align: center;
  color: black;
  padding: 6px;
  border-radius: 15px;
  width: 80%;
  height: 30px;
}

.submit-button-ResolveTicket {
  margin-top: 20px;
  padding: 10px;
  background-color: #153D89;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}