.ViewTicket{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #5673A9;
  border-radius: 40px;
  min-height: 50vh;
  margin: 2px;
  padding: 2px;
  background-image: linear-gradient(to bottom,#191A2C,#191a2ce8);  color: #fff;
  margin: 6px;
  padding: 2px;
}

.div-ViewTicket{
  min-width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.form-ViewTicket{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input-label-ViewTicket {
  margin-bottom: 5px;
}

.input-field-ViewTicket {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  color: black;
  padding: 6px;
  border-radius: 15px;
  width: 80%;
  height: 30px;
}

.submit-button-ViewTicket {
  margin-top: 20px;
  padding: 10px;
  background-color: #153D89;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}