.DivFormRegistro{
  background-image: linear-gradient(to bottom,#191A2C,#191a2ce8);
  color: #fff;
  padding: 50px;
  border-radius: 30px;
  min-width: 20vw;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25), 0 16px 16px rgba(0, 0, 0, 0.25);
}

.formRegistro{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.registroInputs{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:white;
  color: black;
  padding: 6px;
  border-radius: 15px;
  width: 100%; 
  height: 18px;
  border:0px;
}
.buttonRegister{
  background-color: #0f1114;
  color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  font-weight: 600;
  margin: 20px;
  font-size: 17px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttonRegister{
  background-color: #153D89;
  color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  font-weight: 600;
  margin: 20px;
  font-size: 17px;
  text-align: center;
  border: none;
  transition: all 0s ease-in-out;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25), 0 16px 16px rgba(0, 0, 0, 0.25)
}

.buttonRegister:active{
  transform: translateY(2px);
}