
.TicketForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #5673A9;
  border-radius: 40px;
  height: 50vh;
  margin: 6px;
  padding: 2px;
  background-color: #191A2C;
  color: #fff;
}

.div-ticketform{
  width: 20vw;
}

.form-ticketform{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-label-ticketform {
  margin-bottom: 5px;
}

.input-field-ticketform {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 90%;
  background-color: #D083DD80;
  text-align: center;
  color: #fff;
}

.submit-button-ticketform {
  margin-top: 20px;
  padding: 10px;
  background-color: #153D89;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}