.quejas {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  /* background-color: #191A2C; */
  background-image: linear-gradient(to top, #00000086, #191A2C);
}

.quejasforms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  padding: 5px;
  margin: 5px;
}

/* .logo-quejas {
  position: absolute;
  top: 120px;
  left: 20px;
  max-width: 100%;
  height: 158px;
} */

/* .container-logo {
  
} */